extends layout.pug

block content 
    nav.grid-container.portfolio-breadcrumb
        a(href='/') ← Back
    article.grid-container.portfolio-intro.portfolio-project
        .grid-x
            .cell.small-6.medium-9.large-9

                //- Add your name.
                h1 Brandon Sean White

                //- Feel free personalize the title below
                p.lead.text-light
                    | More than a coder... I am  
                    span#talent a Full Stack JavaScript Developer
                    | .

                //- Replace the boilerplate below with your Elevator pitch below.
                .portfolio-bio
                    p
                        | Born and bred in Winston-Salem, NC, I got my start in filmmaking in 2008 after joining the cast of a "no budget" webseries entitled, "Monster Cops" created by friend and fellow independent filmmaker, Patrick A. Prejusa. From this experience, I would go on to attend the University of North Carolina School of the Arts where I would pen various feature-length and short, motion-picture scripts, while maintaining a presence in both the creative and business sides of film producing. 
                        | Filmmaking introduced me to a world of strategic marketing and graphic design, which would soon stir within me a passion to independently educate myself in the fields of market research, SEO, social media marketing, branding, pitching, logo and logotype design, typography, grid systems, animation, motions graphics, and web design and coding.
                        | In the summer of 2013 I graduated from the University of North Carolina School of the Arts with a BFA in Filmmaking and, through a broad skill-set, the capacity to benefit others in a wide variety of industries.
            .cell.portfolio-meta.small-6.medium-2.large-3
                h6 Skills

                //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
                ul
                    li HTML
                    li CSS
                    li JavaScript
                    li JQuery
                    li Node.js
                    li Express
                    li JSON
                    li Git
                h6 Contact Info

                //- Add your own contact info
                ul
                    li 336-749-6260
                    li white.brandonsean@gmail.com

                //- Add URLs to the hrefs below to link to your social media accounts.
                a.button.expanded(href='https://www.linkedin.com/in/brandonseanwhite/', target="_blank") LinkedIn
                a.button.expanded(href='https://github.com/whitebrandon', target="_blank") GitHub
                a.button.expanded(href='https://twitter.com/chldprdgy720', target="_blank") Twitter
    nav.grid-container.portfolio-breadcrumb
        a(href='/') ← Back
    