//- /******************************************
    Treehouse Techdegree:
    FSJS project 6 - Static Node.js and Express Site
    Name: Brandon White
    Date of Last Modification: 23/11/2019
//- ******************************************/

extends layout.pug

block content 
    nav.grid-container.portfolio-breadcrumb
        a.back(href='/')
        //- ← Back
    article.grid-container.portfolio-intro.portfolio-project
        .grid-x
            .cell.small-6.medium-9.large-9

                h1= name

                p.lead.text-light
                    | More than   
                    span#talent a Full Stack JavaScript Developer
                    | .

                .portfolio-bio.animated.fadeIn
                    p
                        | To know me is to understand the importance of stories, which are in many ways, the mainstay of humanity. They inspire. Inform. Offer escape. Promote genuine thought. And fill the world with light. 
                        br
                        br
                        | Born a wonderer, I've grown to become an engineer of stories. And so I strive to implement storytelling values into every thing I do. I've designed my code to be easily read, clever, full of character, and scalable (because the greatest stories never really end). 
                        br
                        br
                        | Browse my site to learn more about me and to view samples of my work. And when you feel a burn that whispers at you to add a compelling storyteller to your team, I'll be here.
                        br
                        br
                        | Don't settle for less. Be more!
            .cell.portfolio-meta.small-6.medium-2.large-3
                h6 Skills

                ul.skills
                    li HTML5
                    li CSS3
                    li Sass/SCSS
                    //-
                    li Python
                        li Django
                    li JavaScript
                    //-
                        li TypeScript
                    li JQuery
                    li Node.js
                    li Express
                    //-
                        li Angular
                    li React
                        li Vue
                    li JSON
                    li XML
                    li Git
                    //-
                    li SQL
                        li MongoDB
                h6 Contact Info

                ul.contact
                    li.phone 336-749-6260
                    li.email white.brandonsean@gmail.com

                a.button.expanded.social-link(href='https://www.linkedin.com/in/brandonseanwhite/', target="_blank") LinkedIn
                a.button.expanded.social-link(href='https://github.com/whitebrandon', target="_blank") GitHub
                a.button.expanded.social-link(href='https://twitter.com/chldprdgy720', target="_blank") Twitter
    nav.grid-container.portfolio-breadcrumb
        a.back(href='/')
        //- ← Back
    