//- extends layout.pug could also be written extends layout
extends layout

block content
    section.desk
        h1= `${message} - Status: ${status}`
        a.button-primary-small(href='/') Go Home
        .paper
            pre.stack-trace= stack
        .tear

//-------------------------------------------------------------------------        
    
    Notes go here