//- /******************************************
    Treehouse Techdegree:
    FSJS project 6 - Static Node.js and Express Site
    Name: Brandon White
    Date of Last Modification: 23/11/2019
//- ******************************************/

extends layout.pug

block content
    h1.error= `${message} - Status: ${status}`
    a.home-button(href='/') Go Home
    pre.stack= stack